@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
body {
  background-color: rgb(17, 17, 63);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Electrolize", sans-serif;
  text-transform: uppercase;
  box-sizing: border-box;
}
.info {
  color: whitesmoke;
  text-align: center;
}

.disable {
  filter: brightness(70%);
}
.disable:hover {
  cursor: default;
  transform: translateY(0);
}

.d-none {
  display: none !important;
}
.volume-button {
  position: absolute;
  top: 20px;
  background: transparent;
  border: none;
  color: white;
}
.volume-button > span {
  font-size: 35px;
}
